@page
@model BibliotecaMunicipal.Models.Pessoas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.PessoaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Idade)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pessoa.PessoaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
